# Database
MONGO_HOST=nexdrive-db
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASS=pass
MONGO_DB_NAME=nexdrive_db
MONGO_AUTH_SOURCE=admin

# Auth
JWT_SECRET=your-secret-key-here

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_REDIRECT_IF_ROUTE_NOT_EXISTS=false

EMAIL=pepe@gmail.com
EMAIL_PASS=3212 2313 3212 1234

CLOUD_PATH=/home/app/cloud

# Uncomment if running inside Docker on WSL2
WATCHPACK_POLLING=true