# React
WATCHPACK_POLLING=true

# Frontend Envs
NEXT_PUBLIC_API_URL=http://localhost:3000

# Backend Envs
MONGODB_URI=mongodb://root:pass@host.docker.internal:27017/filemanager?authSource=admin
SECRET_KEY_AUTH=asd
EMAIL=pepe@gmail.com
EMAIL_PASS=3212 2313 3212 1234