WATCHPACK_POLLING=true

NEXT_API_URL=http://next-app:3000
NEXT_PUBLIC_API_URL=http://localhost:3000

MONGODB_URI=mongodb://root:pass@host.docker.internal:27017/filemanager?authSource=admin

SECRET_KEY_AUTH=asd

EMAIL=pepe@gmail.com
EMAIL_PASS=3212 2313 3212 1234

CLOUD_PATH=/home/app/cloud